.movie-card {
    margin-bottom: 25px;
    padding-top: 30px;
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
    .movie-card {
        padding-top: 0;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .movie-card {
        padding-top: 10px;
    }
}

.movie-card .poster {
    max-height: 495px;
    object-fit: contain;
}

.movie-card .overview {
    height: 150px;
    overflow: hidden;
    text-align: justify;
}

.movie-card .title {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}